@model ProductViewModel

<form method="post" target="_self">
    <div class="row">
        @await Html.PartialAsync("AdministratorPanel")
        <div class="col-6">
            <div class="validation" asp-validation-summary="All"></div>
            <div>
                <label asp-for="Name">Название:</label>
                <input type="text" asp-for="Name" placeholder="Name">
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <label asp-for="Cost">Цена:</label>
                <input type="number" asp-for="Cost" placeholder="Cost">
                <span asp-validation-for="Cost"></span>
            </div>
            <div>
                <label asp-for="Description">Описание:</label>
                <input type="text" asp-for="Description" placeholder="Description" value="-">
                <span asp-validation-for="Description"></span>
            </div>
            <div>
                <button type="submit" 
                        style="margin-top:10px"
                        asp-action="Add" 
                        asp-area="Administrator" 
                        asp-controller="Product">
                    Добавить новый продукт
                </button>
            </div>
        </div>
    </div>
</form>
