@model RegistrationData

<form method="post" target="_self">
    <div class="row">
        @await Html.PartialAsync("AdministratorPanel")
        <div class="col-6">
            <div class="validation" asp-validation-summary="All"></div>
            <div>
                <label asp-for="UserName">Логин:</label>
                <input type="text" asp-for="UserName">
                <span asp-validation-for="UserName"></span>
            </div>
            <div>
                <label asp-for="Password">Пароль:</label>
                <input type="password" asp-for="Password">
                <span asp-validation-for="Password"></span>
            </div>
            <div>
                <label asp-for="RepeatedPassword">Повторите пароль:</label>
                <input type="password" asp-for="RepeatedPassword">
                <span asp-validation-for="RepeatedPassword"></span>
            </div>
            <div>
                <label asp-for="Name">Имя:</label>
                <input type="text" asp-for="Name">
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <label asp-for="Surname">Фамилия:</label>
                <input type="text" asp-for="Surname">
                <span asp-validation-for="Surname"></span>
            </div>
            <div>
                <label asp-for="Address">Адрес:</label>
                <input type="text" asp-for="Address">
                <span asp-validation-for="Address"></span>
            </div>
            <div>
                <label asp-for="PhoneNumber">Телефон:</label>
                <input type="text" asp-for="PhoneNumber">
                <span asp-validation-for="PhoneNumber"></span>
            </div>
            <div>
                <button type="submit"
                        class="btn btn-dark"
                        style="margin-top:10px"
                        asp-action="Add"
                        asp-area="Administrator"
                        asp-controller="User">
                    Добавить
                </button>
            </div>
        </div>
    </div>
</form>
