@model EditUserDataViewModel

<form method="post" target="_self" enctype="multipart/form-data">
    <div class="row">
        @await Html.PartialAsync("AdministratorPanel")
        <div class="col-6">
            <div class="validation" asp-validation-summary="All"></div>
            <div>
                <label asp-for="UserName">Имя:</label>
                <input type="text" asp-for="UserName" placeholder="User Name" value="@Model.UserName">
                <span asp-validation-for="UserName"></span>
            </div>
            <div>
                <label asp-for="PhoneNumber">Телефон:</label>
                <input type="text" asp-for="PhoneNumber" placeholder="Phone Number" value="@Model.PhoneNumber">
                <span asp-validation-for="PhoneNumber"></span>
            </div>
            <div>
                <label>Загрузить новый аватар</label>
                <input type="file" name="UploadedFile" accept="image/*" class="form-control" />
            </div>
            <div>
                <button type="submit"
                        style="margin-top:10px"
                        asp-action="EditData"
                        asp-area="Administrator"
                        asp-controller="User"
                        asp-route-login="@ViewData["login"]">
                    Внести изменения
                </button>
            </div>
        </div>
    </div>
</form>