@model RegistrationData

<form method="post" target="_self">
    <h2>Регистрация</h2>
    <div class="validation" asp-validation-summary="All"></div>
    <fieldset>
        <div>
            <label asp-for="Login">Логин:</label>
            <input type="text" asp-for="Login" placeholder="Login">
            <span asp-validation-for="Login"></span>
        </div>
        <div>
            <label asp-for="Password">Пароль:</label>
            <input type="password" asp-for="Password" placeholder="Password">
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="RepeatedPassword">Повторите пароль:</label>
            <input type="password" asp-for="RepeatedPassword" placeholder="Repeat password">
            <span asp-validation-for="RepeatedPassword"></span>
        </div>
        <div>
            <label asp-for="Name">Имя:</label>
            <input type="password" asp-for="Name" placeholder="Name">
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <label asp-for="Surname">Фамилия:</label>
            <input type="password" asp-for="Surname" placeholder="Surname">
            <span asp-validation-for="Surname"></span>
        </div>
        <div>
            <label asp-for="Address">Домашний адрес:</label>
            <input type="password" asp-for="Address" placeholder="Address">
            <span asp-validation-for="Address"></span>
        </div>
        <div>
            <label asp-for="PhoneNumber">Телефон:</label>
            <input type="password" asp-for="PhoneNumber" placeholder="Phone Number">
            <span asp-validation-for="PhoneNumber"></span>
        </div>
    </fieldset>
    <div>
        <button type="submit" asp-action="SignUp" asp-controller="Registration">
            Зарегистрироваться
        </button>
    </div>
</form>