@model Order

<form method="post" target="_self">
    <h2>Информация о заказе</h2>
    <div class="validation" asp-validation-summary="All"></div>
    <fieldset>
        <legend>Персональные данные</legend>
        <ul>
            <li>
                <label asp-for="PersonalData.Name">Имя:*</label>
                <input type="text" asp-for="PersonalData.Name" placeholder="Иван">
                <span asp-validation-for="PersonalData.Name"></span>
            </li>
            <li>
                <label asp-for="PersonalData.Surname">Фамилия:*</label>
                <input type="text" asp-for="PersonalData.Surname" placeholder="Иванов">
                <span asp-validation-for="PersonalData.Surname"></span>
            </li>
        </ul>
    </fieldset>
    <fieldset>
        <legend>Контакты</legend>
        <ul>
            <li>
                <label asp-for="Address">Адрес:*</label>
                <input type="text" asp-for="Address" placeholder="г.Москва, ул.Тверская, д.1">
                <span asp-validation-for="Address"></span>
            </li>
            <li>
                <label asp-for="EMail">E-mail:*</label>
                <input type="text" asp-for="EMail" placeholder="ivanov@gmail.com">
                <span asp-validation-for="EMail"></span>
            </li>
            <li>
                <label asp-for="PhoneNumber">Телефон:*</label>
                <input asp-for="PhoneNumber" placeholder="+7(900)000-00-00">
                <span asp-validation-for="PhoneNumber"></span>
            </li>
        </ul>
    </fieldset>
    <div>
        <button type="submit" asp-action="Add" asp-controller="Order">
            Отправить
        </button>
        <p>* — Обязательные поля</p>
    </div>
</form>