<div class="col-3">
    <div class="row">
        <a asp-area="Administrator" asp-controller="Order" asp-action="Index">
            Заказы
        </a>
    </div>
    <div class="row">
        <a asp-area="Administrator" asp-controller="User" asp-action="Index">
            Пользователи
        </a>
    </div>
    <div class="row">
        <a asp-area="Administrator" asp-controller="Role" asp-action="Index">
            Роли
        </a>
    </div>
    <div class="row">
        <a asp-area="Administrator" asp-controller="Product" asp-action="Index">
            Продукты
        </a>
    </div>
</div>