@model bool

@if (Model)
{
    <li class="nav-item">
        <a class="nav-link text-dark"
           asp-area="Administrator"
           asp-controller="Order"
           asp-action="Index">
            Administrator
        </a>
    </li>
}