@model Role

<form method="post" target="_self">
    <div class="row">
        @await Html.PartialAsync("AdministratorPanel")
        <div class="col-6">
            <div class="validation" asp-validation-summary="All"></div>
            <div>
                <label asp-for="Name">Название:</label>
                <input type="text" asp-for="Name" placeholder="Name">
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <button type="submit" 
                        style="margin-top:10px"
                        asp-action="Add" 
                        asp-area="Administrator" 
                        asp-controller="Role">
                    Добавить роль
                </button>
            </div>
        </div>
    </div>
</form>
