@model IEnumerable<RoleViewModel>

<div class="row">
    @await Html.PartialAsync("AdministratorPanel")
    <div class="col-9">
        <h2>Список ролей</h2>
        <a asp-area="Administrator" asp-action="Add" asp-controller="Role">Добавить роль</a>
        @if (Model is not null && Model.Count() > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Название</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var role in Model)
                    {
                        <tr>
                            <td>@role.Name</td>
                            <td>
                                <a asp-action="Remove"
                                   asp-area="Administrator"
                                   asp-controller="Role"
                                   asp-route-roleName="@role.Name">
                                    Удалить
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>