@model ChangeUserPasswordViewModel

<form method="post" target="_self">
    <div class="row">
        <div class="col-6">
            <div class="validation" asp-validation-summary="All"></div>
            <div>
                <label asp-for="NewPassword">Новый пароль:</label>
                <input type="password" asp-for="NewPassword" placeholder="New Password">
                <span asp-validation-for="NewPassword"></span>
            </div>
            <div>
                <label asp-for="RepeatedNewPassword">Повторите пароль:</label>
                <input type="password" asp-for="RepeatedNewPassword" placeholder="Repeat New Password">
                <span asp-validation-for="RepeatedNewPassword"></span>
            </div>
            <div>
                <button type="submit"
                        style="margin-top:10px"
                        asp-action="ChangePassword"
                        asp-area=""
                        asp-controller="User"
                        asp-route-login="@ViewData["login"]">
                    Внести изменения
                </button>
            </div>
        </div>
    </div>
</form>