@model int

<a asp-area="" asp-controller="Favourites" asp-action="Index">
    <img style="width:50px; height:50px" src="/images/Favourites.png">
</a>
@if (Model > 0)
{
    <p class="text-dark">@Model</p>
}