@model int

<a class="nav-link text-dark"
    asp-area=""
    asp-controller="Comparison" 
    asp-action="Index" 
    asp-route-userId="@Constants.Login">
    Comparison
</a>
@if (Model > 0)
{
    <p class="text-dark">@Model</p>
}