@model AutorizationData

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Авторизация пользователя</h2>
            <form method="post" target="_self">
                <div class="validation" asp-validation-summary="All"></div>
                <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                <div class="mb-3">
                    <label asp-for="UserName" class="form-label">Логин:</label>
                    <input type="text" asp-for="UserName" class="form-control">
                    <span asp-validation-for="UserName"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label">Пароль:</label>
                    <input type="password" asp-for="Password" class="form-control">
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="LockoutEnabled">Запомнить меня</label>
                    <input type="checkbox" asp-for="LockoutEnabled" value="true">
                </div>
                <div class="mb-3">
                    <a asp-action="Register"
                       asp-controller="Account"
                       asp-area=""
                       asp-route-returnUrl="@Model.ReturnUrl">
                        Регистрация
                    </a>
                </div>
                <button type="submit"
                        class="btn btn-primary w-100"
                        asp-area=""
                        asp-action="Login"
                        asp-controller="Account">
                    Войти
                </button>
            </form>
        </div>
    </div>
</div>