@model Product

<form method="post" target="_self">
    <div class="row">
        <div class="col-6">
            <img class="" src="@Constants.ImageLink" style="width: 600px; height: 400px;" />
        </div>
        <div class="col-6">
            <div class="validation" asp-validation-summary="All"></div>
            <div>
                <label asp-for="Name">Название:</label>
                <input type="text" asp-for="Name" placeholder="Name">
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <label asp-for="Cost">Цена:</label>
                <input type="number" asp-for="Cost" placeholder="Cost">
                <span asp-validation-for="Cost"></span>
            </div>
            <div>
                <label asp-for="Description">Описание:</label>
                <input type="text" asp-for="Description" placeholder="Description" value="-">
                <span asp-validation-for="Description"></span>
            </div>
            <div>
                <button type="submit" asp-action="AddProduct" asp-controller="Administrator">
                    Добавить новый продукт
                </button>
            </div>
        </div>
    </div>
</form>
<a class="btn btn-light" style="margin:10px" asp-controller="Administrator" asp-action="Products" role="button">К списку продуктов</a>
