<div class="col-3">
    <div class="row">
        <a asp-controller="Administrator" asp-action="Orders">
            Заказы
        </a>
    </div>
    <div class="row">
        <a asp-controller="Administrator" asp-action="Users">
            Пользователи
        </a>
    </div>
    <div class="row">
        <a asp-controller="Administrator" asp-action="Roles">
            Роли
        </a>
    </div>
    <div class="row">
        <a asp-controller="Administrator" asp-action="Products">
            Продукты
        </a>
    </div>
</div>