<div class="col-3">
    <div class="row">
        <a asp-controller="Administrator" asp-action="ViewOrders">
            Заказы
        </a>
    </div>
    <div class="row">
        <a asp-controller="Administrator" asp-action="ViewUsers">
            Пользователи
        </a>
    </div>
    <div class="row">
        <a asp-controller="Administrator" asp-action="ViewRoles">
            Роли
        </a>
    </div>
    <div class="row">
        <a asp-controller="Administrator" asp-action="ViewProducts">
            Продукты
        </a>
    </div>
</div>